body {
  font-family: 'Caveat', cursive;
  background-image: url('http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0055/1275/rrLined_paper_no_holes-large_shop_preview.png');
  background-repeat: repeat-y;
  background-size: 100% 100%;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 500px;
  width: 50%;
	margin: 0 auto; 
}

.header {
	font-size: 20pt;
  text-align: center;
}

.todo-form {
	text-align: center;
}
